[Unit]
Description=Moonstream node server
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/moonstream/nodes/server
EnvironmentFile=/home/ubuntu/moonstream-secrets/app.env
ExecStart=/home/ubuntu/moonstream/nodes/server/moonstreamnodes -blockchain polygon -host 0.0.0.0 -port "${MOONSTREAM_NODES_SERVER_PORT}"
SyslogIdentifier=moonstreamnodes

[Install]
WantedBy=multi-user.target