[Unit]
Description=Ethereum node Geth client
After=network.target

[Service]
User=ubuntu
Group=www-data
EnvironmentFile=/home/ubuntu/moonstream-secrets/app.env
ExecStart=/usr/bin/geth --syncmode snap --cache 4096 \
    --datadir /mnt/disks/nodes/ethereum \
    --txpool.globalslots 153600 --txpool.globalqueue 3072 \
    --http --http.api eth,web3,txpool \
    --http.addr "${AWS_LOCAL_IPV4}" \
    --http.port 8545
ExecStop=/bin/kill -s SIGINT -$MAINPID
TimeoutStopSec=300
SyslogIdentifier=geth

[Install]
WantedBy=multi-user.target
