[Unit]
Description=Polygon txpool crawler
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/moonstream/crawlers/txpool
EnvironmentFile=/home/ubuntu/moonstream-secrets/app.env
ExecStart=/home/ubuntu/moonstream/crawlers/txpool/txpool -blockchain polygon
SyslogIdentifier=polygon-txpool

[Install]
WantedBy=multi-user.target
