[Unit]
Description=Execute Xai sepolia state clean labels crawler each 25m

[Timer]
OnBootSec=50s
OnUnitActiveSec=25m

[Install]
WantedBy=timers.target
