[Unit]
Description=Airdrop robots
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
WorkingDirectory=/home/ubuntu/api/robots
EnvironmentFile=/home/ubuntu/robots-secrets/app.env
Restart=on-failure
RestartSec=15s
ExecStart=/home/ubuntu/api/robots/robots airdrop
SyslogIdentifier=robots-airdrop

[Install]
WantedBy=multi-user.target