export MOONSTREAM_CRAWLERS_SERVER_PORT="8080"
export MOONSTREAM_IPC_PATH=null
export MOONSTREAM_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://moonstream.to,https://www.moonstream.to,https://alpha.moonstream.to"
