[Unit]
Description=Clean outdated call_requests from Engine DB
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/api/workers
EnvironmentFile=/home/ubuntu/engineapi-secrets/app.env
ExecStart=/home/ubuntu/api/workers/workers engine clean-call-requests -db-uri "${ENGINE_DB_URI}"
CPUWeight=50
SyslogIdentifier=workers-engine-clean-call-requests