[Unit]
Description=moonstreamdb-service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/moonstream/db/server
ExecStart=/home/ubuntu/moonstream/db/server/moonstreamdb
SyslogIdentifier=moonstreamdb

[Install]
WantedBy=multi-user.target