[Unit]
Description=Status service of moonstreamdb server
StartLimitIntervalSec=300
StartLimitBurst=3
After=network.target

[Service]
Restart=on-failure
RestartSec=15s
WorkingDirectory=/home/moonstream
EnvironmentFile=/home/moonstream/moonstream-secrets/app.env
ExecStart=/home/moonstream/moonstreamdb -host 0.0.0.0 -port "${MOONSTREAM_DB_SERVER_PORT}"
CPUWeight=20
CPUQuota=15%
IOWeight=20
SyslogIdentifier=moonstreamdb

[Install]
WantedBy=multi-user.target